<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/css/generic.css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/wish.css"/>
        
    </head>
    <body>
        <ul class="header">
            <li><a href="/"><img src="/static/img/logo-white.png"/></a></li>
            <li><a href="/">accueil</a></li>
            <li><a href="/wish">coin cadeau</a></li>
        </ul>
        <div class="page">
            <ul class="menu">
                {% for key, option in menu.items() %}
                <li><a href="/wish/{{key}}"{% if key == menuactive %} class="active"{% endif %}>{{option}}</a></li>
                {% endfor %}
            </ul>
            <div class="main">
                <div class="subheader">
                    <h1 class="title">Éditeur de souhait</h1>
                    <p class="subtitle">Un souhait est un espoir, pas une promesse...</p>
                </div>
                <form method="post" action="/wish/{{ action }}">
                    <select name="recipient" autocomplete="off" required>
                        {% for uid, user in users.items() %}
                        <option value="{{ uid }}"{% if user == wish.recipient %}selected{% endif %}>{{ user.name }}</option>
                        {% endfor %}
                    </select>
                
                    <select name="kind" autocomplete="off" required>
                        <option value="0">Livre</option>
                        <option value="1">Jeu vidéo</option>
                    </select>
                
                    <textarea name="content" autocomplete="off" required autofocus>{{ wish.content }}</textarea>
                
                    <label>
                        <input type="checkbox" name="hidden" value="0"/>
                        Ce souhait est une surprise.
                    </label>
                
                    <input type="hidden" name="wishid" value="{{ wish.id }}"/>
                
                    <button type="submit">Enregistrer</button>
                </form>
                
                <button onclick="history.back();return false;">Annuler</button>
            </div>
        </div>
    </body>
</html>