<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/css/generic.css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/wish.css"/>
        
    </head>
    <body>
        <div class="header">
            <a href="/"><img src="/static/img/logo-white.png"/></a>
            <a href="/">Accueil</a>
            <a href="/wish">Coin cadeaux</a>
            <a class="log" href="/{% if user %}logout">Déconnexion{% else %}login">Connexion{% endif %}</a>
        </div>
        <div class="page">
            <ul class="menu">
                {% for key, option in menu.items() %}
                <li><a href="/wish/{{key}}"{% if key == menuactive %} class="active"{% endif %}>{{option}}</a></li>
                {% endfor %}
            </ul>
            <div class="main" userID={{ user.id }}>
                <div class="subheader">
                    <h1 class="title">Éditeur de souhait</h1>
                    <p class="subtitle">Un souhait est un espoir, pas une promesse...</p>
                </div>
                <form id="editor" method="post" action="/wish/{{ action }}">
                    <p class="important" id="recipienttitle">Destinataire</p>
                    <select name="recipient" id="recipient" autocomplete="off" required>
                        {% for uid, user in users.items() %}
                        <option value="{{ uid }}"{% if user == wish.recipient %}selected{% endif %}>{{ user.name }}</option>
                        {% endfor %}
                    </select>
                
                    <p class="important" id="kindtitle">Catégorie</p>
                    <select name="kind" id="kind" autocomplete="off" required>
                        <optgroup label="Lire">
                            <option value=3{% if "BD" == wish.kind %}selected{% endif %}>BD</option>
                            <option value=2{% if "Livre" == wish.kind %}selected{% endif %}>Livre</option>
                        </optgroup>
                        <optgroup label="Jouer">
                            <option value=6{% if "Jeu Vidéo" == wish.kind %}selected{% endif %}>Jeu Vidéo</option>
                            <option value=4{% if "Jeu de Société" == wish.kind %}selected{% endif %}>Jeu de Société</option>
                            <option value=5{% if "Jouet" == wish.kind %}selected{% endif %}>Jouet</option>
                        </optgroup>
                        <optgroup label="Regarder">
                            <option value=7{% if "Cinéma" == wish.kind %}selected{% endif %}>Cinéma</option>
                            <option value=8{% if "DVD" == wish.kind %}selected{% endif %}>DVD</option>
                            <option value=9{% if "Spectacle" == wish.kind %}selected{% endif %}>Spectacle</option>
                        </optgroup>
                        <optgroup label="Écouter">
                            <option value=10{% if "CD" == wish.kind %}selected{% endif %}>CD</option>
                            <option value=11{% if "Vinyle" == wish.kind %}selected{% endif %}>Vinyle</option>
                        </optgroup>
                        <optgroup label="Manger">
                            <option value=12{% if "Nourriture" == wish.kind %}selected{% endif %}>Nourriture</option>
                            <option value=13{% if "Resto" == wish.kind %}selected{% endif %}>Resto</option>
                        </optgroup>
                        <optgroup label="Se pavaner">
                            <option value=14{% if "Accessoires" == wish.kind %}selected{% endif %}>Accessoires</option>
                            <option value=16{% if "Cosmétiques" == wish.kind %}selected{% endif %}>Cosmétiques</option>
                            <option value=15{% if "Vêtements" == wish.kind %}selected{% endif %}>Vêtements</option>
                        </optgroup>
                        <option value="1"{% if "Utile" == wish.kind %}selected{% endif %}>Utile</option>
                        <option value="0"{% if "Autre" == wish.kind %}selected{% endif %}>Autre</option>
                    </select>
                
                    <p class="important" id="contenttitle">Contenu</p>
                    <textarea name="content" id="content" autocomplete="off" required autofocus>{{ wish.content }}</textarea>
                
                    <label id="surprise" class="important">
                        <input type="checkbox" name="hidden" value="0"/>
                        Ce souhait est une surprise. Il ne sera pas visible par le destinataire.
                    </label>
                
                    <input type="hidden" name="wishid" value="{{ wish.id }}"/>
                
                    <button class="important" type="button" id="cancel" onclick="history.back();return false;">Annuler</button>
                    <button class="important" type="submit" id="submit">Enregistrer</button>
                </form>
            </div>
        </div>
    </body>
</html>