<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/css/generic.css"/>
        <script src="/static/js/user.js" defer></script>
    </head>
    <body>
        <x-navbar>NAVBAR HERE</x-navbar>
        <div class="main">
            <h1>Le coin cadeaux</h1>
            <ul>
                <li><a href="/wish/new">Nouveau souhait</a></li>
                <li><a href="/wish/view/self">Consulter mes souhaits</a></li>
                <li><a href="/wish/view/foreign">Consulter les souhaits que j'ai créé pour quelqu'un d'autre</a></li>
                <li><a href="/wish/view/other">Consulter les souhaits de quelqu'un d'autre</a></li>
            </ul>
        </div>
    </body>
</html>