<!DOCTYPE html>
<html>
    <body>
        <h1>Le coin cadeaux</h1>
        <ul>
            <li><a href="/wish/new">Nouveau souhait</a></li>
            <li><a href="/wish/view/self">Consulter mes souhaits</a></li>
            <li><a href="/wish/view/foreign">Consulter les souhaits que j'ai créé pour quelqu'un d'autre</a></li>
            <li><a href="/wish/view/other">Consulter les souhaits de quelqu'un d'autre</a></li>
        </ul>
        <p>
            <b>Compte (id {{user.id}}):</b> {{user.name}} (né.e le {{user.birthday}})
        </p>
    </body>
</html>