<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/css/generic.css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/wish.css"/>
        <!-- defer means the whole document parses before executing script -->
        <script src="/static/js/user.js" defer></script>
        <script src="/static/js/wish.js" defer></script>
    </head>
    <body>
        <x-navbar>NAVBAR HERE</x-navbar>
        <div class="main">
            <h1>Le coin cadeaux</h1>
            <h3>Les souhaits de {{ recipient.name }}</h3>
            <div class="wish-grid">
                {% for wish in wishes %}
                {{ wish.html_tag() | safe }}
                <div class="control">
                    {% if wish.maker == recipient %}
                    <button name="id" value="{{ wish.id }}">Modifier</button>
                    <button name="id" value="{{ wish.id }}">Supprimer</button>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </body>
</html>