<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/css/generic.css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/wish.css"/>
        <script src="/static/js/wish.js" defer></script>
    </head>
    <body>
        <div class="header">
            <a href="/"><img src="/static/img/logo-white.png"/></a>
            <a href="/">Accueil</a>
            <a href="/wish">Coin cadeaux</a>
            <a class="log" href="/{% if user %}logout">Déconnexion{% else %}login">Connexion{% endif %}</a>
        </div>
        <div class="page">
            <ul class="menu">
                {% for key, option in menu.items() %}
                <li><a href="/wish/{{key}}"{% if key == menuactive %} class="active"{% endif %}>{{option}}</a></li>
                {% endfor %}
            </ul>
            <div class="main" userID={{ user.id }}>
                <div class="subheader">
                    <h1 class="title">Mes idées pour quelqu'un d'autre</h1>
                    <p class="subtitle">Un grand pouvoir implique de grandes responsabilités.</p>
                </div>
                <div class="wish-grid">
                    {% for wish in wishes %}
                    {% if not (False and wish.hidden) %}
                    <div class="wish{% if (False and wish.foreign) or wish.hidden %} warning{% endif %}">
                        <h4 class="important date">Créé le {{ wish.date_str() }}</h4>
                        <p class="important kind">{{ wish.kind }}</p>
                        <div class="recipient">
                            <p class="important">Destinataire:</p>
                            <select wishid="{{ wish.id }}" class="recipient" autocomplete="off">
                                {% for uid, user in users.items() %}
                                <option value="{{ uid }}" {% if uid == wish.recipient.id %} selected{% endif %}>{{ user.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        {% if not hide_claimant %}
                        <div class="claim">
                            <p class="important">Pris en charge par</p>
                            <select wishid="{{ wish.id }}" class="claimant{% if wish.claimant %} claimed{% endif %}" autocomplete="off">
                                <option value="-1">Aucun</option>
                                {% if wish.claimant %}
                                <option value="{{ wish.claimant.id }}" selected{% if user.id != wish.claimant.id %} disabled hidden{% endif %}>{{ wish.claimant.name }}</option>
                                {% endif %}
                                {% if user.id != wish.claimant_id %}
                                <option value="{{ user.id }}">{{ user.name }}</option>
                                {% endif %}
                            </select>
                        </div>
                        {% endif %}
                        {% if wish.hidden %}<p class="important warning">Ce souhait est une surprise !</p>{% endif %}
                        <p class="content">
                            {{ wish.content }}
                        </p>
                    </div>
                    <div class="control" wishid="{{ wish.id }}">
                        {% if wish.owned_by(user.id) %}
                        <button class="modify">Modifier</button>
                        <button class="delete">Supprimer</button>
                        {% endif %}
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
</html>