<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/css/generic.css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/wish.css"/>
        <script src="/static/js/wish.js" defer></script>
    </head>
    <body>
        <div class="header">
            <a href="/"><img src="/static/img/logo-white.png"/></a>
            <a href="/">Accueil</a>
            <a href="/wish">Coin cadeaux</a>
            <a class="log" href="/{% if user %}logout">Déconnexion{% else %}login">Connexion{% endif %}</a>
        </div>
        <div class="page">
            <ul class="menu">
                {% for key, option in menu.items() %}
                <li><a href="/wish/{{key}}"{% if key == menuactive %} class="active"{% endif %}>{{option}}</a></li>
                {% endfor %}
            </ul>
            <div class="main" userID={{ user.id }}>
                <div class="subheader">
                    <h1 class="title">De qui veux-tu consulter les souhaits ?</h1>
                    <p class="subtitle">Allons jeter un coup d'oeil ! 🛸</p>
                </div>
                <form id="other-select-form">
                    <select id="user" required>
                        {% for uid, user in users.items() %}
                        <option value="{{ uid }}">{{ user.name }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit">Go!</button>
                </form>
            </div>
        </div>
    </body>
</html>