<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/css/generic.css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/wish.css"/>
        <script src="/static/js/user.js" defer></script>
        <script src="/static/js/wish.js" defer></script>
    </head>
    <body>
        <x-navbar>NAVBAR HERE</x-navbar>
        <div class="main">
            <h1>Le coin cadeaux</h1>
            <h3>Les souhaits de {{ recipient.name }}</h3>

            <div class="wish-grid">
                {% for wish in wishes %}
                {{ wish.html_tag() | safe }}
                <div class="control" wishid="{{ wish.id }}">
                    {% if wish.maker == user %}
                    <button class="modify">Modifier</button>
                    <button class="delete">Supprimer</button>
                    {% endif %}
                </div>
                {% endfor %}
            </div>

            <ul>
                <li><a href="/wish/new">Nouveau souhait</a></li>
                <li><a href="/wish/view/self">Consulter mes souhaits</a></li>
                <li><a href="/wish/view/foreign">Consulter les souhaits que j'ai créé pour quelqu'un d'autre</a></li>
                <li><a href="/wish/view/other">Consulter les souhaits de quelqu'un d'autre</a></li>
            </ul>
        </div>
    </body>
</html>