<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/css/generic.css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/{{ style }}.css"/>
    </head>
    <body>
        <ul class="header">
            <li><a href="/"><img src="/static/img/logo-white.png"/></a></li>
            <li><a href="/">accueil</a></li>
            <li><a href="/wish">coin cadeau</a></li>
        </ul>
        <div class="page">
            <ul class="menu">
                <li><a href="/wish/new"{% if active = "new" %} class="active"{% endif %}>Nouveau souhait</a></li>
                <li><a href="/wish/view/self"{% if active = "self" %} class="active"{% endif %}>Consulter mes souhaits</a></li>
                <li><a href="/wish/view/other"{% if active = "other" %} class="active"{% endif %}>Consulter les souhaits de quelqu'un d'autre</a></li>
                <li><a href="/wish/view/foreign"{% if active = "foreign" %} class="active"{% endif %}>Consulter les souhaits que j'ai créé pour quelqu'un d'autre</a></li>
            </ul>
            <div class="main">
                <div class="subheader">
                    <h1 class="title">Le coin cadeau</h1>
                    <p class="subtitle">Un souhait est un espoir, pas une promesse...</p>
                </div>
            </div>
        </div>
    </body>
</html>