<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/css/generic.css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/index.css"/>
    </head>
    <body>
        <ul class="header">
            <li><a href="/"><img src="/static/img/logo-white.png"/></a></li>
            <li><a href="/">accueil</a></li>
            <li><a href="/wish">coin cadeau</a></li>
        </ul>
        <ul class="main">
            <li><a href="/wish"><div><img src="/static/img/gift.png"/></div><p>Le coin cadeau</p></a></li>
        </ul>
    </body>
</html>