<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/css/generic.css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/index.css"/>
        
    </head>
    <body>
        <div class="header">
            <a href="/"><img src="/static/img/logo-white.png"/></a>
            <a href="/">Accueil</a>
            <a href="/wish">Coin cadeaux</a>
            <a class="log" href="/{% if user %}logout">Déconnexion{% else %}login">Connexion{% endif %}</a>
        </div>
        <ul class="page">
            <li><a href="/wish"><div><img src="/static/img/gift.png"/></div><p>Le coin cadeau</p></a></li>
        </ul>
    </body>
</html>