@import url('/static/css/fonts.css');

.header {
    margin: 0;
    list-style-type: none;
    background-color: #FF5825;
    padding-left: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header li a {
    display: block;
    padding: 15px 15px;
    color: white;
    text-decoration: none;
}

.navbar {
    background-color: #EEEEF3;
    color: black;
}

html, body {
    margin: 0
}