.page {
    margin: 0;
    list-style-type: none;
    background-color: white;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 5vw;
    padding-bottom: 5vw;

    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5vw 5vh;
}

.page > li > a {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    color: black;
    text-decoration: none;
    text-align: center;
}

.page > li > a > div {
    border: 3px solid #8D8FB6;
    border-radius: 30px;
    height: 10vw;
    width: 10vw;
    padding: 1vw;
}

.page > li > a > div > img {
    max-width: 100%;
    max-height: 100%;
}

.page > li > a > p {
    max-width: 10vw;
}
