.main {
    margin: 0;
    list-style-type: none;
    background-color: white;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 5vw;
    padding-bottom: 5vw;

    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    gap: 5vw 5vh;

    height: 100%;
    width: 100vw;
}

.main li a {
    display: block;
    color: black;
    text-decoration: none;
    text-align: center;
}

.main li a div {
    border: 3px solid #8D8FB6;
    border-radius: 30px;
    height: 10vw;
    width: 10vw;
    padding: 1vw;
}

.main li a div img {
    max-width: 100%;
    max-height: 100%;
}