@keyframes blink {
    0%   { opacity: 1; }
    50%  { opacity: 0.3; }
    100% { opacity: 1; }
}

.page {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch;
}


/************************/
/*      MENU STYLE      */
/************************/


.menu {
    flex: 0 1 20vw;

    background-color: #EEEEF3;
    color: black;
    list-style-type: none;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    row-gap: 2.5vh;

    padding: 5vh 2vw;
}

.menu > li > a {
    display: block;

    height: fit-content block;
    border: 3px solid #3D3E54;
    border-radius: 100px;
    padding: 0.5vh 1vw;

    color: #3D3E54;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

.menu > li > a:hover {
    border-color: #4E4F65;
    background-color: #DDDDE2;
}

.menu > li > a.active {
    background-color: #3D3E54;
    color: white;
}

.menu > li > a.active:hover {
    background-color: #4E4F65;
}

/************************/
/*      MAIN STYLE      */
/************************/


.main {
    flex: 1 1 auto;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;

    padding: 0vh 5vw;
}

.main > * {
    flex: 1 1 auto;
}


.subheader {
    flex: 0 1 auto;
    text-align: center;

    padding: 3vh;
}


/************************/
/*      WISH GRID       */
/************************/


.wish-grid {
    display: grid;
    grid-template-columns: auto auto 1fr auto auto min-content;
    grid-auto-flow: row;
    align-content: start;
    gap: 5vh 1vw;
}

.wish {
    grid-column: 1 / 6;

    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: repeat(2, auto);
    gap: 1vh 0.5vw;
}

.wish .important {
    font-weight: bold;
}

.wish.warning {
    grid-template-rows: repeat(3, auto);
    gap: 0vh 0.5vw;
}

.wish > .date {
    grid-column: 1;
}

.wish > .kind {
    grid-column: 2;

    width: 100%;
    background-color: #3D3E54;
    color: white;
    text-align: center;
    font-weight: normal;

    border: none;
    border-radius: 100px;
    padding: 0vh 0.5vw;
}

.wish > .recipient {
    grid-column: 4;
    text-align: left;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 0.3vw;
}

.wish > .claim {
    grid-column: 5;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 0.3vw;
}

.wish > .claim select.claimed {
    background-color: white;
    color: black;
}

.wish > .warning {
    grid-column: 1 / 6;

    color: #FF5825;
    font-style: italic;

    animation: blink 1.5s ease-in-out infinite;
}

.wish > .content {
    grid-column: 1 / 6;
    display: block;
    overflow-wrap: break-word;

    font-weight: normal;

    border: 2px solid #FF8F4E;
    box-shadow: inset 0 0 3px 0.2px black;
    padding: 0.5vh;
}

.wish-grid > .control {
    grid-column: 6;
    align-self: center;
    justify-self: center;
}


/************************/
/*        EDITOR        */
/************************/


#editor {
    display: grid;
    grid-template-columns: [c1] auto 1vw [c2] auto 1fr [c-2] auto [c-1];
    grid-template-rows: [r1] auto [r2] auto 1vh [r3] auto [r4] auto 1vh [r5] auto [r6] auto [r-1];
    justify-content: start;
    align-content: start;
    gap: 0vh 0vw;
}


#editor .important {
    font-weight: bold;
}

#recipientittle {
    grid-column: c1;
    grid-row: r1;
}

#kindtitle {
    grid-column: c2;
    grid-row: r1;
}

#contenttitle {
    grid-column: c1;
    grid-row: r3;
}


#editor select {
    width: 10vw;
}

#recipient {
    grid-column: c1;
    grid-row: r2;
}

#kind {
    grid-column: c2;
    grid-row: r2;
}


#surprise {
    grid-column: c-2;
    grid-row: r3;

    cursor: pointer;
}


#content, #content:focus {
    grid-column: c1 / c-1;
    grid-row: r4;

    height: 20vh;
    outline: none;
    border: 2px solid #FF8F4E;
    box-shadow: inset 0 0 3px 0.2px black;

    padding: 0.5vh;
}


#editor button {
    width: 10vw;
}

#cancel {
    grid-column: c1;
    grid-row: r5;
}

#submit {
    grid-column: c-2;
    grid-row: r5;
    justify-self: end;

    background-color: #FF5825;
    color: white;
}

#submit:hover {
    background-color: #FF8F4E;
}


/************************/
/*      VIEW OTHER      */
/************************/


#other-select-form {
    display: grid;
    grid-template-columns: [c1] auto 1vw [c2] auto;
    grid-template-rows: [r1] auto;
    align-content: start;
    justify-content: center;

    padding-top: 10vh;
}

#other-select-form > select {
    grid-column: c1;

    width: 5vw;
}

#other-select-form > button {
    grid-column: c2;

    width: 5vw;
}