x-wish {
    width: 100%;
    height: 100%;
    display: block grid;

    grid-template-rows: auto auto;
    justify-items: start;
}

x-wish::part(content) {
    width: 100%;
    height: max-content;
    margin: 0;
    display: block;

    font-family: sans-serif;
    background-color: yellowgreen;
    border: 0.01em solid black;
    border-radius: 0.2em;
    box-shadow: 0.1em 0.1em 0.2em rgb(0 0 0 / 45%);
    padding: 0.2em;
}

x-wish::part(warnings) {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    display: inline;

    white-space: nowrap;
}

x-wish::part(warning) {
    width: fit-content;
    height: fit-content;
    margin: 0.2em 0 0 1em;
    padding: 0;
    display: inline;

    color: red;
    font-style: italic;
    font-weight: bold;
    font-size: small;
}

x-wish::part(warning-sign) {
    font-style: normal;
}


.wish-grid {
    width: stretch;
    height: max-content;
    display: grid;

    grid-template-columns: 1fr max-content;
    column-gap: 1em;
    row-gap: 1em;
    align-items: center;
    justify-items: center;
    align-content: space-between;
    justify-content: start;
}

.wish-grid x-wish {
    grid-column: 1;
}

.wish-grid .control {
    grid-column: 2;
    place-self: center;
}