.page {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch;
}


/************************/
/*      MENU STYLE      */
/************************/


.menu {
    flex: 0 1 20vw;

    background-color: #EEEEF3;
    color: black;
    list-style-type: none;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    row-gap: 2.5vh;

    padding: 5vh 2vw;
}

.menu > li > a {
    height: fit-content block;
    text-align: center;
    font-weight: bold;
    color: #2C2D43;
    text-decoration: none;

    display: block;

    border: 3px solid #2C2D43;
    border-radius: 100px;
    padding: 0.5vh 1vw;
}

.menu > li > a.active {
    background-color: #2C2D43;
    color: white;
}


/************************/
/*      MAIN STYLE      */
/************************/


.main {
    flex: 1 1 auto;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;

    padding: 0vh 5vw;
}

.main > * {
    flex: 1 1 auto;
}


.subheader {
    flex: 0 1 auto;
    text-align: center;

    padding: 3vh;
}


/************************/
/*      WISH GRID       */
/************************/


.wish-grid {
    display: grid;
    grid-template-columns: auto auto 1fr auto auto min-content;
    grid-auto-flow: row;
    align-content: start;
    gap: 2.5vh 1vw;
}

.wish {
    grid-column: 1 / 6;

    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: repeat(2, auto);
    gap: 1vh 0.5vw;
}

.wish * {
    font-weight: bold;
}

.wish.warning {
    grid-template-rows: repeat(3, auto);
    gap: 0vh 0.5vw;
}

.wish > .date {
    grid-column: 1;
}

.wish > .kind {
    grid-column: 2;

    width: 100%;
    background-color: #2C2D43;
    color: white;
    text-align: center;
    font-weight: normal;

    border: none;
    border-radius: 100px;
    padding: 0vh 0.5vw;
}

.wish > .recipient {
    grid-column: 4;
    text-align: left;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 0.3vw;
}

.wish > .claim {
    grid-column: 5;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 0.3vw;
}

.wish select {
    border: 2px solid #2C2D43;
    background-color: white;
    padding-left: 0.25vw;
}

.wish > .claim > select.claimed {
    background-color: #2C2D43;
    color: white;
}

.wish > .warning {
    grid-column: 1 / 6;

    color: #FF5825;
    font-style: italic;
    font-weight: normal;
}

.wish > .content {
    grid-column: 1 / 6;
    display: block;
    overflow-wrap: break-word;

    font-weight: normal;

    border: 2px solid #FF8F4E;
    box-shadow: inset 0 0 3px 0.2px black;
    padding: 0.5vh;
}

.wish-grid > .control {
    grid-column: 6;
    align-self: center;
    justify-self: center;
}