x-wish {
    width: 100%;
    height: max-content;
    display: block grid;

    grid-template-rows: auto auto;
    justify-items: start;
}

x-wish::part(content) {
    width: 100%;
    height: max-content;
    margin: 0;
    display: block;

    font-family: sans-serif;
    background-color: yellowgreen;
    border: 0.01em solid black;
    border-radius: 0.2em;
    box-shadow: 0.1em 0.1em 0.2em rgb(0 0 0 / 45%);
    padding: 0.2em;
}

x-wish::part(warnings) {
    width: max-content;
    height: max-content;
    margin: 0;
    padding: 0;
    display: inline-block;
}

x-wish::part(warning) {
    width: fit-content;
    height: fit-content;
    margin: 0em 0 0 1em;
    padding: 0;
    display: inline-block;

    color: red;
    font-style: italic;
    font-weight: bold;
    font-size: small;
}

x-wish::part(warning-sign) {
    font-style: normal;
}


.wish-grid {
    width: 100%;
    height: max-content;
    display: grid;

    grid-template-areas: "W C";
    grid-template-columns: 1fr max-content;
    column-gap: 1em;
    row-gap: 1.2em;
    align-items: center;
    justify-items: center;
    align-content: space-between;
    justify-content: start;
}

.wish-grid[showrecipients] {
    grid-template-areas: "R W C";
    grid-template-columns: max-content 1fr max-content;
}

.wish-grid .recipient {
    grid-area: "R";
}

.wish-grid x-wish {
    grid-area: "W";
}

.wish-grid x-wish::part(warnings) {
    height: 0;
}

.wish-grid .control {
    grid-area: "C";
    place-self: center;
}